
body {
    margin: 0;
    background: url(https://images.pexels.com/photos/1485894/pexels-photo-1485894.jpeg?cs=srgb&dl=pexels-mohamed-almari-1485894.jpg&fm=jpg) no-repeat;
    padding: 0;
    background-size: cover;
}

.box {
    background-color: rgba(0, 0, 0, 0.4);
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
    padding: 0px;
    font-family: 'Century Gothic', arial, sans-serif;
    color: rgb(218, 218, 218);
    margin-top: auto;
    margin-bottom: auto;
}

p {
    font-size: 15
}

li {
    display: inline-block;
    list-style: none;
    margin: 10px;
    padding: 3px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 30px;
}

li img {
    transition: all ease 500ms;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 3%;
}

li img:hover {
    filter: grayscale(100%);
}

.img-with-text {
    text-align: justify;
    width: 225;
}

figcaption {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

h3 {
    font-family: 'Century Gothic', arial, sans-serif;
    color: rgb(218, 218, 218);
    font-style: italic;
    font-weight: 100;
    font-size: 15px;
}